@tailwind base;
@tailwind components;
@tailwind utilities;

@property --border-angle {
    inherits: false;
    initial-value: 0deg;
    syntax: "<angle>";
}

.input {
    @apply w-full px-3 py-2 rounded-md bg-black/30 backdrop-blur-md border border-white/40 focus:outline-none focus:ring-2 focus:ring-blue-400 text-white;
}

.auth-input-label {
    @apply block text-sm font-medium mb-1 text-white drop-shadow-md;
}

.auth-btn {
    @apply w-full py-2 mt-4 rounded-md bg-black text-white font-semibold transition-colors duration-300 hover:bg-gray-800 disabled:opacity-70 disabled:cursor-not-allowed;
}
